@import 'assets/styles/util/fonts.scss';
@import 'assets/styles/util/colors.scss';

.wrapper {
  margin-bottom: 133px;
}
.box {
  width: 100%;
  border: 1px solid #C8C8C8 ;
  display: flex;
  justify-content: space-between;
  & article {
    max-width: 780px;
    & .button {
      width: 282px;
      height: 75px;
      background-color: $productBackground;
      color: white;
      border-radius: 85px;
    }
  }
  & .imageBlock {
    background-color: $productBackground;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    & .image {
    }

  }
}

.article {
  padding: 42px 32px ;
}

.title {
  font-size: 35px;
  line-height: 38px;
  font-weight: 700;
  color: $layoutColor;
  margin-bottom: 22px;
}
