@import '../../../assets/styles/util/fonts';
@import '../../../assets/styles/util/colors';

.formWrapper {
  height: 582px;
  display: flex;
  & .left {
    width: 55%;
    height: 100%;
    background-color: $formGray;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .formInput {
      display: flex;
      flex-direction: column;
    }
  }
  & .right {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: $formLightGray;
  }
}

