@import 'assets/styles/util/fonts.scss';
@import 'assets/styles/util/colors.scss';

.block {
  position: relative;
  height: 391px;
 }

.link {
  text-align: center;
  text-decoration: underline;
  color: #656565;
}
