//@import 'assets/styles/global.scss';

@import '../../../../../../../assets/styles/util/fonts';
@import '../../../../../../../assets/styles/util/colors';


.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  
  &.img {
    flex-grow: 1;
  }
}

.search {
  display: flex;
  flex-grow: 2;
  align-items: center;
  max-width: 1045px;
  border: 1px solid #8C8C8C;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  padding: 0 20px 0 20px;
  text-align: center;

  & .input {
    width: 100%;
  }
}

.cart {
  cursor: pointer;
  display: grid;
  width: 132px;
  grid-auto-flow: column;
  column-gap: 12px;
  align-items: center;
  font-size: 20px;
}
