@import 'assets/styles/util/fonts.scss';
@import 'assets/styles/util/colors.scss';

.feedbackBlock {
  max-width: 1083px;
  background-color: #F8F8F8;
  border: 1px solid #E2E2E2;
  display: grid;
  grid-template-columns: 90px 1fr;
  column-gap: 32px;
  position: relative;
  padding: 23px;
}

.avatar {
  background-color: #FF8C82;
  width: 90px;
  height: 90px;
}

.rating {
  position: absolute;
  top: 25px;
  right: 32px;
}

 .MuiAvatar-fallback {
  color: #3D3D3D;
}

.author {
  color: #3D3D3D;
  font-size: 20px;
  margin-bottom: 5px;

}

.productName {
  margin-bottom: 25px;
}
