$grayColor:         #5B5B5B;
$darkGrayColor:     #3D3D3D;
$lightGrayColor:    #8B8B8B;

$layoutColor:       #3D3D3D;
$articleBack:       #656565;
$buttonColor:       #F24A52;
$productBackground: #FF5815;
