@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@font-face {
	font-family: 'PT Root UI';
	src: url('../../fonts/PTRootUI-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('../../fonts/PTRootUI-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('../../fonts/PTRootUI-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src: url('../../fonts/PTRootUI-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
