@import '../../../../../../../assets/styles/util/fonts';
@import '../../../../../../../assets/styles/util/colors';

.footer {
  background-color: $layoutColor;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}

.grid {
  background-color: red;
  height: 100px;
}
 .grid2 {
   background-color: #939393;
 }

 .meguna {
   width: 65px;
   height: 32px;
 }
