@import "util/fonts.scss";
@import "util/colors.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}


body {
  font-size: 18px;
  font-family: PT Root UI, sans-serif;
}

.ReactCollapse--collapse {
  transition: .3s;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}
