//@import 'assets/styles/global.scss';

@import 'assets/styles/util/fonts.scss';
@import 'assets/styles/util/colors.scss';

.list {
  display: flex;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 28px;
  color: #3D3D3D;
  margin-bottom: 20px;
  font-weight: 600;

  & li{
    margin-right: 48px;
  }
}
