//@import 'assets/styles/global.scss';

@import '../../../../../../../assets/styles/util/fonts';
@import '../../../../../../../assets/styles/util/colors';

.list {
  display: flex;
  list-style: none;
  cursor: pointer;
  font-size: 22px;
  line-height: 28px;
  color: #3D3D3D;
  margin-bottom: 20px;
  font-weight: 600;
  justify-content: space-between;
  max-width: 1100px;

  & li{
    margin-right: 4px;
  }
}


.itemWithSubnav {
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr;
  justify-content: start;

  .link {
    padding-right: 1.3rem;
  }

  &:hover .subList {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
  }
}
