@import 'assets/styles/util/fonts.scss';
@import 'assets/styles/util/colors.scss';

.comments {
  display: flex;
  justify-content: space-between;
}

.feedback {
  margin-bottom: 20px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: #3d3d3d;
  width: 90%;
  margin-bottom: 65px;
}

.open {
  color: $buttonColor;
  font-weight: 500;
  font-size: 25px;
  max-width: 156px;
}

.block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
